<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/libApp.css" media="all">
  </head>

  <body>
  	<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>

  	<div class="wrapper wrap">
  		<div class="authentication auth" >

  		<h1 class="front-page"><%= title %> PLATFORM</h1>
    		<!-- <p class="front-page"><%= title %> PLATFORM</p> -->

    		<ul class="info">
				<li class="m-item libColor"><strong>Categories</strong></li>
					<li class="m-item libColor"><strong>Users</strong></li>
					<li class="m-item libColor"><strong>Subcharged</strong></li>
			</ul>

			<ul class="info">
				<li class="m-item libColor">Literature</li>
					<!-- <li class="m-item libColor">Users</li> -->
					<!-- <li class="m-item libColor">Subcharged</li> -->
			</ul>

			<ul class="info">
				<li class="m-item libColor">Classics</li>
					<!-- <li class="m-item libColor"><strong>Users</strong></li> -->
					<!-- <li class="m-item libColor"><strong>Subcharged</strong></li> -->
			</ul>

			<ul class="info">
				<li class="m-item libColor">Religion</li>
					<!-- <li class="m-item libColor"><strong>Users</strong></li> -->
					<!-- <li class="m-item libColor"><strong>Subcharged</strong></li> -->
			</ul>

			<ul class="info">
				<li class="m-item libColor">Politics</li>
					<!-- <li class="m-item libColor"><strong>Users</strong></li> -->
					<!-- <li class="m-item libColor"><strong>Subcharged</strong></li> -->
			</ul>

    	</div>





    	<div class="footer">
    		<ul class="info">
				<li class="m-item">User Agreement</li>
					<li class="m-item">Privacy Policy</li>
					<li class="m-item">Community Guidelines</li>
					<li class="m-item">Cookie Policy</li>
					<li class="m-item">Copyright Policy</li>
					<li class="m-item">Guest Controls</li>
			</ul>


    	</div>
  	</div>
















  	




  </body>

</html>